{% extends "base.html" %}

{% set active_page = "about_us" %}


{% block content %}
<div id="main_block" class="style1">
<div class="info">	
<h1>Немного о нас</h1>
<br>
{% markdown %}
C итальянского Аванти переводится как Первый,Впереди!!
А это Значит,мы сотрудничаем только с самыми передовыми,проверенными временем фабриками! Только лучшие из лучших! Только Вы и Ваша  мечта,ставшая реальностью...
А если умело дополнить модульные элементы (а их у нас великое множество) индивидуальными ,то Вы создадите свой неповторимый имидж Вашему жилью,и у Вас останутся средства на  приятные покупки.
От Классики до Модерна,от Детской до Офисной мебели-все это будет выполнено в Авантистайл!
Заказывая у нас любую мебель,Вы можете сколько угодно любоваться нарядами в Своем шкафу, весело проводить время на Своей кухне,спокойно спать в своей кроватке...
Ведь вы полностью уверены-у соседки такого точно не будет!
{% endmarkdown %}
</div>
</div>
{% endblock %}
