{% extends "base.html" %}

{% set active_page = "payment" %}


{% block content %}
<div id="main_block" class="style1">
<div class="info">
<h1>Заказ и способы оплаты</h1>
<br>
<h2>Заказ</h2>
На данный момент осуществить заказ можно следующими способами:
<br>
<br>
<b>Позвонив по телефонам </b> +7(495)521-00-93 и +7(903)501-80-87 , по этим же телефонам Вы можете осуществить вызов замерщика.
<br>
<br>

<b>Написав на почту sales@avantistyle.ru</b> и с Вами свяжутся для дальнейшего оформления заказа! 
<br>
<br>

<b>Непосредственно в салонах Авантистайл</b> - адреса указаны в разеделе Контакты! 
<br>
<br>


<h2>Оплата</h2>
У нас работают следующие варианты оплаты:
<br>
<br>
<b>Рассрочка и кредит.</b>Чтобы не откладывать исполнения желания в долгий ящик,Вы можете приобрести любую мебель в рассрочку на 6 мес .Или оформить кредит на 12 и 24 мес.
Без первоначального взноса. От Вас потребуется паспорт РФ и 20 мин времени. Мы сотрудничаем со многими банками.Все документы оформляем в салоне.
<br>
<br>

<b>Безналичный расчет.</b> Вы можете перевести деньги на наш расчетный счет. Реквизиты Вам предоставят в салоне и вышлют на электронную почту! 
<br>
<br>

<b>Оплата банковской картой в салоне.</b>
<br>
<br>

<b>Оплата наличными в салоне или дизайнеру-замерщику при составлении договора у Вас дома!</b>
</div>
</div>
{% endblock %}
