.idea/
.idea/*

lib/
lib/*

lib64

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/

/templates/
/templates/*

/static/
/static/*

spares_img/*.jpeg

__pycache__/
__pycache__/*

pip-selfcheck.json

include/
include/*

app/static/images/spares_img/
app/static/images/spares_img/*

db_repository
db_repository/versions/
db_repository/versions/* 

migrations/
migrations/*

app/static/images/products/*
app/static/images/products/

app/static/images/categories/
app/static/images/categoties/*

automium_web.wsgi
*.wsgi
