.idea/
.idea/*

lib/
lib/*

lib64

*.py[cod]
*.pyc

*.log

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

env/

/templates/
/templates/*

/static/
/static/*


__pycache__/
__pycache__/*

pip-selfcheck.json


avanti/app/static/images/products/*
avanti/app/static/images/products/

avanti/app/static/images/categories/
avanti/app/static/images/categoties/*

automium_web.wsgi
*.wsgi

Thumbs.db
Thumbs*

ssl/
ssl/*
