<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    <title>Avantistyle.ru</title>
    <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    <meta content='мебель, от производителя, кухни, балашиха, детская мебель, на заказ, мебель в балашихе  ' name='keywords'/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112005963-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-112005963-1');
    </script>

  </head>
  <body>
<div class="container">

  
    <div id="header">                                                                 
    <div id="header_inside">
    <img src="/static/images/header.jpg" alt="setalpm" width="999" height="222" border="0" usemap="#Map" /><br />                    

    {% set navigation_bar = [
    ('/', 'index', 'Главная'),
    ('/about_us', 'about_us', 'О нас'),
    ('/contacts', 'contacts', 'Контакты'),
    ('/services', 'services', 'Услуги'),
    ('/payment', 'payment', 'Оплата'), 
    ('/categories', 'categories','Каталог')
    ] -%}
      {% set active_page = active_page|default('index')-%}
        <ul class="menu">
        {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
        </ul>

    </div>
    </div>

<div id="wrapper">  

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissable fade in" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }} </br>
    {% endfor %}
    </div>
    {% endif %}
{% endwith %}

<div id="content_inside">
{% include 'sidebar.html' %} 

{% block content %}{% endblock %}
</div>  
  <div id="footer">
    <div id="footer_inside">
      <ul class="footer_menu">
        {% for href, id, caption in navigation_bar %}
        <li>
          <a href="{{ href|e }}">{{ caption|e }}</a>
        </li>
        {% endfor %}
      </ul><br /><br />
                                                                                                                                                                                                                                                                                                         
    </div>
  </div>
</div>
</div>
  <map name="Map">
       <area shape="rect" coords="78,45,312,119" href="/index">
       <area shape="poly" coords="670,87,719,78,727,123,677,130" href="#">
       <area shape="poly" coords="776,124,818,152,793,189,751,160" href="#">
       <area shape="poly" coords="834,52,885,61,878,105,828,96" href="#">
  </map>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter47212848 = new Ya.Metrika({
                    id:47212848,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/47212848" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>