{% extends "base.html" %}
{% set active_page = "categories" %}
{% block content %}

<h1>Каталог</h1>
<div id="main_block">
<div id="items">
					{%- for item in cat_list %}
					<div class="item">
						<a href="{{ url_for('frontend.category', id = item.id) }}" ><img src="{{ url_for('static', filename='images/categories/%s.jpeg'%item.id ) }}" alt="" width="202" height="173" /> </a> <br/>
						<a href="{{ url_for('frontend.category', id = item.id) }}" class="view" > {{ item.name }} </a>
					</div>
					{%- endfor %}
</div>
</div>
{% endblock %}