{% extends "base.html" %}
{% set active_page = "categories" %}
{% block content %}
{% include 'path.html' %} 
<div id="main_block">
<h1>{{ category.name }}</h1>



<div id="items">
					{%- for item in category.child %}
					<div class="item">
						<a href="{{ url_for('frontend.category', id = item.id) }}" > <img src="{{ url_for('static', filename='images/categories/%s.jpeg'%item.id ) }}" alt="" width="202" height="173" /> </a> <br/>
						<a href="{{ url_for('frontend.category', id = item.id) }}" class="view" > {{ item.name }} </a>
					</div>
					{%- endfor %}
</div>
</div>

{% endblock %}