{% extends "base.html" %}

{% set active_page = "contacts" %}


{% block content %}

<div id="main_block" class="style1">	
<br>
<h1>Наши магазины</h1>
<br>
<h2> ТЦ "Никольский парк" в г. Балашиха </h2>

{% markdown %}
Адрес:  метро Новокосино, г.Балашиха Носовихинское шоссе вл.4 Т.Ц. Никольский парк, 

Время работы : 10-00  -  22-00

Телефон:   (495)521-00-93

{% endmarkdown %}
<br>
<h2>  ТЦ "Светофор" в г. Балашиха.</h2>
{% markdown %}

Адрес: Московская область. г.Балашиха, Шоссе Энтузиастов, д1 Б.

Время работы : 10-00  -  22-00

Телефон : (495)521-00-93

{% endmarkdown %}
<br>
<h2>  ТЦ Купавна в г. Купавна.</h2>
{% markdown %}

Адрес: Московская область. г.Купавна, Шоссе Энтузиастов, д1 Б.

Время работы : 10-00  -  22-00

Телефон : (495)521-00-93

{% endmarkdown %}
</div>

{% endblock %}
