{% extends "base.html" %}

{% set active_page = "contacts" %}


{% block content %}

<div id="main_block" class="style1">	
<br>
<h1>Наши магазины</h1>
<br>
<div class="info">
<h2>  ТЦ "Светофор" в г. Балашиха.</h2>
{% markdown %}

Адрес: Московская область. г.Балашиха, Шоссе Энтузиастов, д1 Б., цокольный этаж. Салон "Авантистайл" и "Престиж-Купе".

Время работы : 10-00  -  20-00, без выходных и перерыва

Телефон : +7(495)521-00-93 и +7(903)501-80-87 

{% endmarkdown %}
<br>
<img src="/static/images/svetofor.jpg" alt="" width="400" height="250" />
<br>

<h2>  ТЦ "Шоколад" в г. Купавна.</h2>
{% markdown %}

Адрес: Московская область. г.Старая Купавна, ул.Кирова,д.19, 2этаж (около магазина "FixPrice").

Время работы : 10-00  -  20-00

Телефон : +7(495)521-00-93 и +7(903)501-80-87 

{% endmarkdown %}
<br>
<img src="/static/images/shokolad.jpg" alt="" width="400" height="250" />
<br>
<br>
Вызов замерщика возможен по телефонам
+7(495)521-00-93 и +7(903)501-80-87  
Замер бесплатный
</div>
</div>

{% endblock %}
