{% extends "base.html" %}

{% set active_page = "index" %}

{% block content %}


			<div id="main_block">
				<div class="about">
					<img src="/static/images/title2.gif" alt="" width="191" height="30" /><br />
					<p>Здесь инфа  о том какая хорошая это мебель! И хорошая компания у нас!  </p>
					<a href="/about_us">Больше информации</a>
				</div>
				<div class="news">
					<img src="/static/images/title3.gif" alt="" width="93" height="30" /><br />
					<p>Мы рады сообщить, что у нас наконец-то открылся собственный сайт с каталогом товаров!
					К сожалению, на данный момент возможность заказа есть, только через телефон и электронную почту (sales@avantistyle.ru).
					В дальнейшем заказы возможно будет оформлять прямо на сайте.</p>
					<a href="/services">Подробнее</a>
				</div>

				<div id="items">
					{%- for item in cat_list %}
					<div class="item">
						<a href="{{ url_for('frontend.category', id = item.id) }}" ><img src="{{ url_for('static', filename='images/categories/%s.jpeg'%item.id ) }}" alt="" width="202" height="173" /> </a> <br/>
						<a href="{{ url_for('frontend.category', id = item.id) }}" class="view" > {{ item.name }} </a>
					</div>
					{%- endfor %}
				</div>
			</div>

{% endblock %}