{% extends "base.html" %}
{% set active_page = "categories" %}
{% block content %}
	<link href="{{ url_for('static', filename = 'css/gallery.css') }}" rel="stylesheet" >	
	<script src="{{ url_for('static', filename = 'js/jquery-1.4.4.min.js') }}" ></script>
	<script src="{{ url_for('static', filename = 'js/slides.min.jquery.js') }}" ></script>

	<script>
		$(function(){
			$('#item').slides({
				preload: true,
				preloadImage: '/static/images/loading.gif',
				effect: 'slide, fade',
				crossfade: true,
				slideSpeed: 200,
				fadeSpeed: 500,
				generateNextPrev: true,
				generatePagination: false
			});
		});
	</script>


			<div id="main_block" class="style1">		
																																																																										
				<div id="item">
					<h4>{{ product.name }}</h4><br />
					<div id="big_view" class="big_view">
						<div class="slides_container">
							{%- for img in product.product_images.all() %}
							<a href="#"><img src="{{ url_for('static', filename='images/products/%s'%img) }}" width="477" height="320"></a>
							{% endfor %}
						</div>
						{%- if  product.price %}
						<span>{{ product.price }} руб.</span>
						{% else %}
						<span>Цена не указана</span>
						{% endif %}
					</div>
					<ul class="pagination">
					        {%- for img in product.product_images.all() %}
        						<li><a href="#"><img src="{{ url_for('static', filename='images/products/%s'%img) }}" alt="" width="55" /></a></li>
        
        					{% endfor %}
					</ul>
				</div>

				<div class="description">
					<p>
						<strong>Описание: </strong><br /> 
						{% markdown %}
						{{ product.detail }}
						{% endmarkdown %}
						
					</p>
					<p>
						<a href="{{ url_for('frontend.services') }}" class="buy">Заказать</a>
					</p>
				</div>
			</div>

{% endblock %}