{% extends "base.html" %}

{% set active_page = "services" %}


{% block content %}
<div id="main_block" class="style1">
<div class="info">
<h1> Наши услуги </h1>
<br>
<h2>Доставка</h2>
Доставка индивидуальной мебели осуществляется бесплатно до подъезда. 
Доставка Модульной мебели,комодов,антресолей,отдельных элементов  -700 руб.(подробности узнавайте у менеджеров)
Каждый заказ индивидуален.И подход к доставке и сборке в каждом случае рассматривается индивидуально.
Возможен самовывоз из салонов.

<br>
<br>
<br>
<h2>Сборка</h2>
Сборка мебели может производиться силами заказчика или  нашими сборщиками.
Цена на сборку от 0 руб до 10 % от стоимости заказа (оговаривается индивидуально)
При самостоятельной сборке -убедительная просьба -сохранять упаковку до окончания работ! 
</div>
</div>


{% endblock %}
